# generated
*.tx
*.o

# precompiled python
*.pyc
*$py.class

# no binaries
*.exe

# roms
*.gbc
*.gb

# for any of the poor souls with save game files in their working directory
*.sgm
*.sav
*.rtc
*.sn*

# rgbds extras
*.map
*.sym

# compare.sh
baserom.txt
pokecrystal.txt

# for vim configuration
# url: http://www.vim.org/scripts/script.php?script_id=441
.lvimrc
# swap files for vim
.*.swp
# swap files for gedit
*~

#croudmap
crowdmap

gfx/credits/border.2bpp
gfx/credits/ditto.2bpp
gfx/credits/igglybuff.2bpp
gfx/credits/pichu.2bpp
gfx/credits/smoochum.2bpp
gfx/credits/theend.2bpp
gfx/misc/badges.2bpp
gfx/misc/font.1bpp
gfx/misc/font_battle_extra.2bpp
gfx/misc/font_extra.2bpp
gfx/misc/font_inversed.1bpp
gfx/misc/footprints.1bpp
gfx/misc/pack.2bpp
gfx/misc/pack_f.2bpp
